body {
    background: #9bbad4;  /* фон сайта */
    font-size: 22px;  /* размер шрифта */
}

a {
    text-decoration: none;  /* сбрасываю базовую стилизацию ссылки */
    color: #076335;  /* цвет текста */
    border: 2px solid #076335;
    /* рамка: размер стиль цвет
    solid - сплошная рамка (ровная линия)
    dotted - точечная линия
    dashed - линия, которая состоит из прямоугольников
    */
    border-radius: 1em;
    /* скругление углов */
}