body {
    background: #9bbad4;  /* фон сайта */
    font-size: 22px;  /* размер шрифта */
}

a {
    text-decoration: none;  /* сбрасываю базовую стилизацию ссылки */
    color: #076335;  /* цвет текста */
    border: 2px solid #076335;
    /* рамка: размер стиль цвет
    solid - сплошная рамка (ровная линия)
    dotted - точечная линия
    dashed - линия, которая состоит из прямоугольников
    */
    border-radius: 1em; /* скругление углов */

    display: block;  /* настраиваю отображение */
    width: 15%; /* устанавливаю ширину */
    padding: 10px;  /* внутренний отступ 10пикс со всех сторон */
    margin-bottom: 15px;  /* внешний отступ снизу 15 пикс */
    text-align: center;  /* расположение текста посередине */
    transition: all 0.5s ease-in-out;
}

a:hover { /* когда на ссылку наводится курсор */
    color: white;  /* меняю цвет */
    border: none;  /* отключаю рамку */
    background: #171c6f;  /* добавляю фон */
}

h1 {
    transition: font-size 0.5s ease-in-out;
}

h1:hover {
    font-size: 70px;
    color: #ced1ff;
}