/* будем использовать альтернативную блочную модель */
html {
    box-sizing: border-box;
    /* все блочные элементы будут
    использовать альтернативную модель */
}

* {
    box-sizing: inherit; /* ВСЕ на странице НАСЛЕДУЕТ свойство box-sizing */
}

body {
    background-image: url('https://cdn.yemek.com/mnresize/940/940/uploads/2015/09/humus-guncelleme-sunum-2.jpg');
    /* ^ установить изображение как фон для страницы */
    background-repeat: no-repeat;  /* отключить режим "замостить" */
    background-size: cover;  /* картинка растягивается под размер страницы */

    font-family: 'Raleway', sans-serif;  /* подключаю шрифт */
}

.box {
    margin: 10px auto; /* располагаю блок посередине */
    width: 70%;  /* ширина блока 70% от страницы */
    border-radius: 1em;  /* скругляю углы */
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    font-size: 22px;
    /*
    цвет можно писать:
    - константа: red, white, yellow...
    - код цвета: #636363 - темно-серый
    - rgb(): формат, где вы указываете количество каждого цвета
    rgb(120, 50, 70) - бордовый
    - rgba(): то же самое, что rgb, только с альфа-каналом (прозрачность)
    rgba(120, 50, 70, 0.5) - бордовый полупрозрачный
    */
}

.box h1, h2 {  /* я обращаюсь ко всем h1 и h2, которые находятся внутри box'а */
    text-align: center;
}


