* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    max-width: 500px;
    margin: 0.7em auto;
}

.block {
    margin-bottom: 0.7em;
    padding: 0.7em;
    border: 0.2em dashed #ccc;
    color: #cc0000;
    background: rgba(255, 234, 171, 0.5);
    min-height: 50px;
}

.col1, .col2, .col3 {
    width: 30%;
    min-height: 150px;
}

.col1 {
    float: left;
    margin-right: 5%;
}

.col2 {
    float: left;
}

.col3 {
    float: right;
}

.footer {
    clear: both;
}
